/* Table Of Contents */

/* 1. Text  */
/* 2. Navbar - About Me */
/* 3. Tables */
/* 4. Loot Tabs */
/* 5. Previous Weeks */
/* 6. Parallax */

/* 1. Text  */

h1 {
    margin: 5% 0 0 0;
    
}

.mytabs h2 {
    color: red; 
    text-align: center;
}

#exoticgun h3 {
    text-align: center;
    color: red;
    font-family: sans-serif;
    margin-top: 3%;
}

#titanexotic h3 {
    text-align: center;
    color: red;
    font-family: sans-serif;
    margin-top: 3%;
}

#hunterexotic h3 {
    text-align: center;
    color: red;
    font-family: sans-serif;
    margin-top: 3%;
}

#warlockexotic h3 {
    text-align: center;
    color: red;
    font-family: sans-serif;
    margin-top: 3%;
}

#previousweeksheader {
    color: white;
    margin-top: 2%;
}

h3 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: white;
}

h5 {
    
}

h6 {
    
}

/* 2. Navbar - About Me */

ul {
    margin-left: 2%;
    text-align: right;
}

ul li {
    display: inline;
    padding: 10% 5% 0 0;
    margin: 0 0 0 0;
    color: black;
}

li a {
    color: black;   
}

#topbar {
    background-color: lightgrey;   
    height: 3.5em;
    width: 100%;
}

#nav {
    float: right;
    margin: 1em 0 0 0;
}

#socialmedia {
    margin: .5em 0 0 0;   
}

.instagram {
    width: 20%;
    height: 20%;
    margin: 0 0 0 3em; 
}

.xur {
    margin: 0% 25% 0 0%;
    height: 27em;
    width: 27em;
    float: right;
}

.aboutme {
    margin: 7% 0 0 15%;
    color: white;
}

/* 3. Tables */

#previousweeks {
    width: 80%;
    margin: 5% 0 0 10%;
}
.previousweektable th {
    min-width: 42em;
    min-height: 10em;
    font-size: .7em;
    overflow: hidden;
    text-align: center;
}

.previousweektable {
    min-height: 10em;  
    overflow: hidden;
}

#table {
    overflow: hidden;
}
.rwd-table {
    min-width: 38em;
    margin-left: 6%;
    background-color: lightgrey;
    margin-top: 20%;
}
  
tr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
  
th {
    display: none; 
    border: 1px solid black;
}
  
td {
    display: block; 
}

table {
    margin-top: 1%;
}

caption {
    text-align: center;
    background-color: white;
    color: white;
}

 a img { 
     display:none; 
 }
 
a:hover img { 
    display:block; 
    margin: 0 0 10% 5%;
}

/* 4. Loot Tabs */

.mytabs {
    width: 760px;
    background-color: black;
    margin: 9% 5% 5% 25%;
    border-radius: 5px;
    border: 2px solid white;  
}

.tabs {
    text-align: center;   
}

.tabs li {
    list-style: none;
    display: inline;
}

.tabs a {
    padding: 5px 10px;
    display: inline-block;
    background: #2e3d4d;
    color: red;
    text-decoration: none;
    border: 1px solid white;
}

.tabs a.active {
    background-color: yellow;
    color: green;
}



.exoticicon {
    margin: 0 0 0 45%;
       
}

.exoticdetails {
    margin: 5% 0 5% 37%;   
}

.previousweekimg {
    margin-left: 20%;   
}

/* CSS */
.ul{
    width: 100%;
    margin-left: 20%;
    margin: 10 auto;
    text-align:left;
}

dt ,dt a, dd {
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}

.banner { 
    position: relative; 
    overflow: auto;
}
.banner li { 
    list-style: none; 
}
.banner ul li { 
    float: left; 
}

.circleimage {
    margin: 15% 0 0 17%;  
    height: 200px
}

/* Buttons */ 

button#appointment {
    border: 1px solid #ffffff;
    background: #2e3d4d;
    padding: 10px 10px 10px 10px;
    margin: 10% 35% 0 0;
    border-radius: 4px;
    color: #ffffff;
    font-size: 21px;
    font-family: Helvetica, Arial, Sans-Serif;
    float: right;
}

button:hover {
    border-top-color: #344759;
    background: #344759;
    color: #ffffff;
}

button:active {
    border-top-color: #2e3d4d;
    background: #2e3d4d;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; 
}
footer, .push {
	height: 155px; 
}

.footer {
    float: left;
    clear: both;
}

.crackedscreen {
    margin: 0 15px 0 4px;
}

#audio {
    margin-top: 50%;   
}

.photogallery {
    margin-left: 23%;   
}


.instagramfeed {
    margin: 10% 0 0 0;   
}
#parallaxText {
	width: 0;
	height: 100%;
	margin: auto;
	position: relative;
}
#parallaxText .layer1, #parallaxText .layer2, #parallaxText .layer3 {
	position: absolute;
	font-size: 50px;
	line-height: 50px;
	margin-left: -150px;
	margin-top: -25px;
	width: 300px;
	top: 50%;
	left: 50%;
	text-align: center;
	color: #133f71;
}

#parallaxText .layer1 {
	top: 48%;
}
#parallaxText .layer2 {
	top: 49%;
}
#parallaxText .layer3 a {
	display: block;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}
#parallax1, #parallax2, #parallax3 {
	position: relative;
	overflow: hidden;
	height: 100vh;
}
#parallax1 > div, #parallax2 > div, #parallax3 > div {
	position: relative;
	height: 200%;
	-webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

/* Test Parallax */

#parallaxscreen1 { 
    background: url(../img/test_bg.jpg) 50% 0 repeat fixed; 
    min-height: 1000px;
}
 
#parallaxscreen2 { 
    background: url(../img/test_bg1.jpg) 50% 0 no-repeat fixed; 
    min-height: 1000px;  
}

footer {
    height: 200px;
    background-color: white;
}

/* Media Querys */

@media only screen and (max-width: 1824px) {
    body {
    }
    
    #topbar {
        background-color: yellow;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    body {
        background-color: yellow;   
    }
    
    h1{
        
    }
    
    h2{
        text-align: center;
    }
    
    h3 {
        width: 100%;
        text-align: center;
    
    }
    
    #topbar {
        width: 100%; 
        background-color: green;
    }
    
    ul {
        float: center;   
    }
    
    ul li {
    display: inline;
    padding: 10px 20px 0 0;
    margin: 20px 0 0 0;
    color: black;
    }

    li a {
    color: white;   
    }
    
    #nav {
        text-align: center;
    }
    
    .aboutme {
        margin-right: 15%;   
    }
    
    .rwd-table {
    min-width: 400px;
    margin-left: 6%;
    background-color: lightgrey;
    margin-top: 20%;
    }   
    
    .mytabs {
    width: 760px;
    background-color: black;
    margin: 9% 5% 5% 10%;
    border-radius: 5px;
    border: 2px solid white;  
    }

    .tabs {
    text-align: center;   
    }

    .tabs li {
    list-style: none;
    display: inline;
    }

    .tabs a {
    padding: 5px 10px;
    display: inline-block;
    background: #2e3d4d;
    color: red;
    text-decoration: none;
    border: 1px solid white;
    }

    .tabs a.active {
    background-color: yellow;
    color: green;
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        background-color: purple;
        width: 100%
    }
    
    #topbar {
        width: 100%;
        background-color: purple;
    }
    h2 {
        text-align: center;   
    }
    
    h4 {
        width: 100%;
    
    }
    
    .xurdealer {
        width: 80%;
        height: 80%;
        margin: 50% 0 0 10%;
    }
    
    .rightarrow {
        width: 20%;
        height: 10%;
        margin: 10% 0 0 40%;
    }
    
}

